<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BayWynCouriersDB"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\leviv\Desktop\Github\College\BayWynCouriers\BayWyn_Couriers\BayWynCouriersDatabase.mdf;Integrated Security=True;Connect Timeout=30;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>